<div class="parent-container">
  <div class="child-container">
    <h2 class = "title">Welcome to <b>Find Your Recipe!!!
    </b></h2>
    <div class="desc">Find Your Recipe is a Mashup Web Application which is built using <i> Foursquare & Edamam's Recipe Search API </i> . This application will accept
      user food and location inputs and try to find the closest match to what the user is searching for. The user is provided with recipe names,
      links, the name of restaurants that serve something similar and the address of said restaurants. Feel free to play with this website!</div><br><br><br>
    <form>
      <div class="form-group">
        <label class = "subscr">Like what you see? Subscribe to our news letter!</label><br><br>
        <div class="form-group col-lg-4 col-lg-offset-4">
          <input type="text" class="form-control" placeholder="name@example.com"/>
        </div>
        <br>
        <button class="btn btn primary col-lg-2 col-lg-offset-5" style="background-color:black">Submit</button>
      </div>
    </form>
  </div>
</div>
