<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Calculator</title>
  <!--1. write Typescript code in "app.component.ts" to work with ToDo list-->
</head>
<body>
<!--2. write html(view) code to display the ToDos-->

<!--here is where the header is completed. Wanted it to stand out so it is getting green boarder-->
<div class="container-fluid"><!--bootstrap. allows the container to go across screen no matter screen size-->
  <div class="row bg-info justify-content-center
            align-items-center" style="height:100px">

    <div class="col-3 text-black h2"><!--formatting box around title-->
      To Do List for 2020
    </div>
<!-----------------------------------COUNT DOWN TIMER ADDED HERE------------------------------------------->
    <div class="col-3 text-black h5"><!--formatting box around title-->
      <p>End of Semester<br>{{demo}}<br>Final Day: {{countDownDate | date}}</p>
    </div>
  </div>
  <!----------------------------------TO DO LIST ADDED HERE------------------------------------------------->
  <!--Division for taking input from user -->
  <div class="row mt-1" style="height:80px;"><!--bootstrap used a lot for formatting-->
    <div class="col-3 d-none col-md-3 d-md-block"></div>
    <div class="col-12 col-md-6 bg-white d-flex
                    justify-content-center align-items-center
                    text-black h4">

      <input [(ngModel)]="newT" type="text"
             value="" class="col-7 form-control"
             style="width:300px;">

      <div class="col-1"></div>

      <button (click)="submitNewItem()" class="btn btn-light text-black"><!--submits the item user input into array-->
        ADD TO LIST
      </button>
    </div>

    <div class="col-3 col-md-3 d-md-block"></div>
  </div>

  <!--Tasks added repeated divisions-->
  <div *ngFor="let x of items; let index = index;"
       class="row mt-1" style="height:100px;"><!--helps to iterate through the array created-->

    <div class="col-3 col-md-3 d-md-block"></div>

    <div class="col-12 col-md-6 bg-white d-flex
                    justify-content-center align-items-center
                    text-black h3"><!--more formatting-->

      <div class="col-9 text-black h3">{{x}}</div><!--displays the items in the array so it appears on web page-->

      <input (click)="deleteItem(index)" type="button"
             value="Delete" class="col-2 btn btn-danger"><!--deletes item when delete button is clicked-->
      <input (click) = "completeItem(index)" type = "button"
              value= "Completed" class = "col-2 btn btn-success"><!--strikes through item when complete button is clicked-->
    </div>


  </div>
</div>

