<div class="parent-container">
  <div class="child-container">
    <h2><b>Search for your recipe!!
    </b></h2><br>
    <form>
      <div class="form-group">
        <div class="form-group col-lg-6 col-lg-offset-3 input-group">
          <input #recipe class="form-control" placeholder="Recipe name" type="text">
          <span class="input-group-addon">-</span>
          <input #place class="form-control" placeholder="Location" type="text">
          <span class="input-group-addon">-</span>

        </div>
        <br>
        <button (click)="getVenues()" class="btn btn" type="button" style = "color:purple">Search</button>

      </div>
    </form>
  </div>
</div><br><br>
<!------------------------------------------------RECIPE DISPLAY STARTS HERE-------------------------------------------->
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-default col-6">
        <div class="panel-heading"><b>Here are some recipes related to your search:</b></div><!----provides food here-->
        <div class="panel-body">
          <div *ngFor="let recipe of recipeList" class="list-group-item clearfix"><!--used to iterate through list-->
<!--------------------------------------------MOSTLY FORMATTING HERE ---------------------------------------------------->
            <div class="pull-right" style = "text-align:center">
              <h4 class="list-group-item-heading"><strong>{{ recipe.recipe.label }}</strong><br>   from    <em>{{recipe.recipe.source}}</em></h4>
              <a href="{{recipe.recipe.url}}" class="list-group-item-text">{{ recipe.recipe.url }}</a><!--accesses the url from the recipe api-->
            </div>

            <div class ="pull-right">
          <img src="{{recipe.recipe.image}}" style="width: 200px; height: 200px;" align="center"/>


      </div>

          </div>

        </div>
      </div>
    </div>
    <!---------------------------------------------NON FUNCTIONING------------------------------------------------------>
    <!-----------------------------------------------RESTAURANT DISPLAY STARTS HERE------------------------------------->
    <div class="col-lg-6">
      <div class="panel panel-default col-6">
        <div class="panel-heading"><b>Here are restaurants related to your search:</b></div><!--shows the list of restaruants after this point-->
        <div class="panel-body">

          <div *ngFor="let venue of venueList" class="list-group-item clearfix">
          <div class=" List-group-item clearfix">
            <div class="pull-left">
              <h4 class="list-group-item-heading">{{ venueList.venueList.name}}</h4><!--the idea for this was to have
              it display the name in the geocode part of the api-->
            </div>

            <span class="pull-right"><!--part below is to show the google maps link to search for the location-->
             <a href="http://maps.google.com/maps?saddr={{venueList?.geocode.center.lat}},{{venueList?.geocode.center.lng}}
             &daddr={{venueList?.headerFullLocation}},{{venueList?.headerLocation}},{{venueList?.headerLocationGranularity}}">
               <img src="../../assets/google.png" style="width: 30px; height: 30px;"></a>
      </span>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

</div>


